@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #0F0140;
    --cor-tercearia: #8D44F2;
    --cor-quartenaria: #A85EF2;
    --cor-black: #000000;
    --cor-white: #ffffff;

    --fonte-primaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
    
}

button {
    background-color: transparent;
    border: 2px solid var(--cor-white);
    color: var(--cor-white);
    font-size: 16px;
    cursor: pointer;
}

/*Estilos Gerais*/
.interface {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding: 0px 2%;
}

/*Estilo do header*/
header {
    background-color: var(--cor-black);
    height: 80px;
}

.logotipo, .menu-desktop {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    position: relative;
    height: 100%;
}

.logotipo {
    width: 6%;
}
.logotipo img {
    width: 80%;
    max-width: 220px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu-desktop {
    width: 94%;
}

.menu-desktop ul {
    list-style-type: none;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menu-desktop ul li {
    display: inline-block;
    margin: 0 20px;
}

.menu-desktop ul li a{
    color: var(--cor-white);
    text-decoration: none;
}

.menu-desktop ul li a button{
    width: 140px;
    height: 40px;
    border-radius: 30px;
}

/* ESTILO DO TOPO*/

section.topo-site {
    background-image: linear-gradient(45deg, #8D44F2, #0F0140);
    padding: 80px 0%;
}

.txt-topo, .img-topo {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
    vertical-align: middle;
}

.txt-topo {
    color: var(--cor-white);
}

.txt-topo h1 {
    font-size: 3rem;
    line-height: 40px;
}

.txt-topo p {
    font-size: 1.3rem;
    margin: 25px 0%;
}

.img-topo img {
    width: 100%;
}

/* Skills */
section.skills {
    padding: 80px 0;
}
.skills .titulo-sessao {
    text-align: center;
}

.skills .titulo-sessao h2 {
    color: var(--cor-tercearia);
    font-size: 2rem;
    margin-bottom: 60px;
}

.skills-container {
    width: 100%;
    text-align: center;
}

.skills .skills-box {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    padding: 80px 4%;
    text-align: center;
    border: solid 2px var(--cor-tercearia);
    border-radius: 0 70px 30px 70px;
    box-shadow: 10px 10px 0 var(--cor-tercearia);
}

.skills .skills-box img {
    width: 40%;
}

/* Rodapé */
.rodape {
    background: var(--cor-black);
}

.rodape p {
    text-align: center;
    color: var(--cor-white);
    font-size: 1.5rem;
    padding: 20px 0;
}